/*font*/
@font-face {
  font-family: "OpenSansBold";
  src: url("../font/OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../font/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansRegular";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}
h1 {
  font-family: 'OpenSansBold' ;
}
h3{
  font-family: 'OpenSansLight';
  letter-spacing: 0.1em;
  font-weight: 400;
}
p{
  font-family: 'OpenSansRegular';
}

/*all*/
html,
body {
    margin: 0;
    padding: 0;
}

/*pannel*/
#information {
  background-color: rgba(255, 255, 255, 0.918);
  max-width: 50%;
  width: 25%;
  position: absolute;
  z-index: 6;
  margin-top:12px;
  visibility: hidden;
  padding: 1%;
  display: inline-table;
}
.active {
  visibility: visible !important;
}


/*icons*/
.fas, .fab{
  margin-right: 5%;
}

#cancel{
  position: absolute;
  right: 0;
  margin-right: 3%;
  color: #af2729;
}
#film{
  color: #577590;
  margin-left: 15%;
}

#serieWeb{
  color: #f94144;
  margin-left: 15%;
}

#serieTv{
  color: #90be6d ;
  margin-left: 15%;
}

#localisation{
  color: rgb(177, 62, 62);
}

#calendar{
  color:rgb(163, 128, 95);
}



/*map*/
#map {
  left: 0;
  top:0;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.leaflet-control-layers {
  width: 90px;
  background-color: #555;
  border: none !important;
  margin-right: 0px !important;
  border-radius: 0px;
  padding: 0px;
}

.leaflet-control-layers-overlays label {
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 28px;
}

.leaflet-control-layers-overlays label:hover {
  background-color: #444 !important;
}

.leaflet-control-layers-overlays label:hover i#ic-red{
  color:#f94144;
}

.leaflet-control-layers-overlays label:hover i#ic-green{
  color:#90be6d;
}

.leaflet-control-layers-overlays label:hover i#ic-blue{
  color:#577590;
}

input[type="checkbox"].leaflet-control-layers-selector {
  display: none;
}
