html,
body {
    margin: 0;
    padding: 0;
}

#map {
  left: 0;
  top:0;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

#information {
  background-color: rgba(255, 255, 255, 0.808);
  width: 25%;
  position: absolute;
  z-index: 6;
  top:0;
  bottom: 0;
  left:0;
}

.leaflet-control-layers {
  width: 90px;
  background-color: #555;
  border: none !important;
  margin-right: 0px !important;
  border-radius: 0px;
  padding: 0px;
}

.leaflet-control-layers-overlays label {
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 28px;
}

.leaflet-control-layers-overlays label:hover {
  background-color: #444 !important;
}

.leaflet-control-layers-overlays label:hover i#ic-red{
  color:#f94144;
}

.leaflet-control-layers-overlays label:hover i#ic-green{
  color:#90be6d;
}

.leaflet-control-layers-overlays label:hover i#ic-blue{
  color:#577590;
}

input[type="checkbox"].leaflet-control-layers-selector {
  display: none;
}